//color palette

$primary: #34c759;
$secondary: #388bfd;
$tertiary: #afbac5;
$darkgray: #8b939e;
$lightgray: #f2f2f2;
$black-400: #21262e;
$error: #ed5151;
$black-100: #6e7681;

//base colors

$white: #fff;
$black: #000;
