// @extends
%highlight-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

%body1-lt {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

%heading-1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

%link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
